body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333; /* Dark background for header */
    color: white; /* White text */
    padding: 10px 20px; /* Padding for header */
    text-align: center; /* Center the text */
}

nav {
    border: 2px solid black; /* Darker green border for navigation */
    font-weight: bold; /* Makes all h1 headings bold */
	background-color: #333;
	color: white;
}




nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	}

.slideshow-container {
    position: relative;
    max-width: 800px;
	width: 100%
    margin: auto;
    min-height: 300px; /* Set a minimum height for the slideshow */
display: flex;
justify-content: center;
}

.slide {
    display: none; /* Hide all slides by default */
}

.slideshow-container img {
    width: 300px; /* Set images to 50% of the container width */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Ensure images are block elements */
    margin: 0 auto; /* Center images within the container */
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: lightsteelblue;
}

footer {
    background-color: #333;
	color: white;
    padding: 10px;
    text-align: center;
    clear: both;
    border: 2px solid black;
}
.care-tips {
    padding: 20px;
}

.video-box {
    width: 50%; /* Adjust width to half the size of the page */
    margin: 20px auto; /* Center the video box */
}

.video-box iframe {
    width: 100%; /* Make the iframe take the full width of the video box */
    height: auto; /* Maintain aspect ratio */
}
#facts-container {
    border: 1px solid #ddd;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
width: 300px; /* Set a fixed width for the facts container */
    margin-left: auto; /* Center the container horizontally */
    margin-right: auto; /* Center the container horizontally */
}
	

#new-fact-button {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
    cursor: pointer;
}

#new-fact-button:hover {
    background-color: #45a049; /* Darker green */
}
.benefits h2 {
    margin-bottom: 10px; /* Set a fixed margin below the heading */
}